{% extends "layout.html" %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-10">

{% if session.user_id %}
<br>
<h4>Lisää uusi setti pankkiin</h4>
<p>
Valitse settiin 2-10 liikettä. Täytä setin muuta tiedot sivun alalaidassa.
<p>
<ul>
<form action="/add_set" method="post">
<label><h5>Kädet</h5></label>
<div class="form-group col-6">
{% for move in arm_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</div>
<p>
<label><h5>Jalat ja pakarat</h5></label>
<div class="form-group col-6">
{% for move in leg_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</div>
<p>
<label><h5>Selkä</h5></label>
<div class="form-group col-6">
{% for move in back_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</div>
<p>
<label><h5>Vatsa</h5></label>
<div class="form-group col-6">
{% for move in abs_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</div>
<p>
<label><h5>Koko vartalo</h5></label>
<div class="form-group col-6">
<p>
{% for move in full_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</div>
</ul>
<br>
<h4>Treenisetin tiedot</h4>
<p>
{% if  error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<div class="form-group col-6">
<label for="name">Setin nimi (4-30 merkkiä):</label>
<input type="text" class="form-control" id="name" name="name">
</div>
<p>
<div class="form-group col-8">
<label for="description">Kuvaus ja lisähuomiot (max 1000 merkkiä):</label>
<textarea type="text" rows="10" class="form-control" name="description" id="description" required>{{request.form.description}}</textarea>
</div>
<p>
<div class="form-group col-6">
<input type="submit" class="btn btn-success" value="Lisää">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</div>
</form>
<p>
{% endif %}

</div>
</div>
</div>
{% endblock %}

