{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<h3>Lisää uusi liike pankkiin</h3>
<p>
<form action="/add_move" method="post">
<b>Liikkeen nimi:</b> <input type="text" name="name">
(Nimen oltava 4-30 merkkiä pitkä.)
<p>
<b>Valitse liikkeen vaikutusalue:</b>
<p>
<input type="radio" name="muscles" value="kädet"> kädet
<input type="radio" name="muscles" value="jalat ja pakarat"> jalat ja pakarat
<input type="radio" name="muscles" value="selkä"> selkä
<input type="radio" name="muscles" value="vatsa"> vatsa
<input type="radio" name="muscles" value="koko vartalo"> koko vartalo
<p>
<b>Liikkeen kuvaus ja lisähuomiot (max 2000 merkkiä):</b>
<p>
<textarea name="description" rows="10" cols="50"></textarea>
<p>
<input type="submit" value="Luo">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
{% endif %}
<a href="/">Etusivulle</a>
	
{% endblock %}
