{% extends "layout.html" %}
{% block content %}

<div class="container">

{% if session.user_id %}
<h2>Treenisettien luominen</h2>
<p>
Valitse settiin lisättävät liikkeet. Voit lisätä yhteen settiin enintään 10 liikettä.
<p>
<p>
<form action="/add_set" method="post">
<label><h5>Kädet</h5></label>
<ul>
{% for move in arm_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</ul>
<p>
<label><h5>Jalat ja pakarat</h5></label>
<ul>
{% for move in leg_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</ul>
<p>
<label><h5>Selkä</h5></label>
<ul>
{% for move in back_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</ul>
<p>
<label><h5>Vatsa</h5></label>
<ul>
{% for move in abs_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</ul>
<p>
<labe><h5>Koko vartalo</h5></label>
<ul>
{% for move in full_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a>
<input type="checkbox" name="chosen" value="{{ move.id }}">
{% endfor %}
</ul>
<p>
<h3>Treenisetin tiedot</h3>
<p>
{% if  error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<label for="name">Nimi:</label>
<input type="text" class="form-control" id="name" name="name">
<p>
<label for="description">Kuvaus ja lisähuomiot (max 2000 merkkiä):</label>
<p>
<textarea name="description" rows="10" cols="50"></textarea>
<p>
<input type="submit" value="Luo">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
{% endif %}

</div>

{% endblock %}

