{% extends "layout.html" %}
{% block content %}

<div class="container" p-5>
<h1>Tervetuloa treenipankkiin!</h1> 
{% if session.user_id %}
<b>Kirjautuneena:</b> {{ session.user_name }}
{% else %}
Kirjautuneena käyttäjänä voit lisätä liikkeitä ja settejä pankkiin kaikkien nähtäville sekä tallettaa omat suosikkitreenisettisi.
{% endif %}
<p>
<h4>Etusivu kunnostuksen alla!</h4>
<div class="row">
<div class="col-6">
<a href="/movelist">Katso kaikki pankin harjoitusliikkeet</a>
</div>
<div class="col-6">
<a href="/setlist">Katso kaikki pankin treenisetit</a>
</div>
</div>
</div>
{% endblock %}
