{% extends "layout.html" %}
{% block content %}

<h2>Tervetuloa treenipankkiin!</h2>
 
{% if session.user_id %}
Kirjautuneena:<b> {{ session.user_name }}</b>
<p>
<a href="/profile/{{ session.user_id }}">Oma sivu</a>
<p>
<a href="/logout">Kirjaudu ulos</a>
<p>
<ul>
<h3>Lisää sisältöä pankkiin</h3>
<a href="/add_move">Uusi harjoitusliike</a>
<p>
<a href="/add_set">Uusi treenisetti</a>
</ul>
{% else %}
<p>
Kirjautuneena käyttäjänä voit lisätä liikkeitä ja settejä pankkiin kaikkien nähtäville sekä tallettaa omat suosikkitreenisettisi.
<p>
<p>
<h3>Kirjaudu sisään</h3>
<ul>
<p>
<form action="/login" method="post">
Nimimerkki: <input type="text" name="name">
<p>
Salasana: <input type="password" name="password">
<p>
<input type="submit" value="Kirjaudu sisään">
</form>
<p>
tai luo <a href="/sign_up">uusi tunnus</a>.
</ul>
{% endif %}
<p>
<h3>Selaa treenipankin sisältöä</h3>
<ul>
<a href="/movelist">Yksittäiset harjoitusliikkeet</a>
<p>
<a href="/setlist">Treenisetit</a>
</ul>

{% endblock %}
