{% extends "layout.html" %}
{% block content %}


<div class="container">

{% if  error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<div class="row">
<div class="col-5">

<form action="/login" method="post">
<label for="name"> Nimimerkki: </label>
<input type="text" class="form-control" id="name" name="name">
<p>
<label for="password">Salasana: </label>
<input type="password" class="form-control" id="password" name="password">
<p>
<input type="submit" value="Kirjaudu sisään">
</form>
<p>
tai luo <a href="/sign_up">uusi tunnus</a>
</div>
</div>
</div>

{% endblock %}
