{% extends "layout.html" %}
{% block content %}

<div class="container">
<br>
<h4>Pankin harjoitusliikkeet</h4>
<p>
<label><h5>Kädet</h5></label>
<div class="form-group col-6">
<ul>
{% for move in arm_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a></li>
{% endfor %}
</ul>
</div>
<label><h5>Jalat ja pakarat</h5></label>
<div class="form-group col-6">
<ul>
{% for move in leg_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a></li>
{% endfor %}
</ul>
</div>
<label><h5>Selkä</h5></label>
<div class="form-group col-6">
<ul>
{% for move in back_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a></li>
{% endfor %}
</ul>
</div>
<label><h5>Vatsa</h5></label>
<div class="form-group col-6">
<ul>
{% for move in abs_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a></li>
{% endfor %}
</ul>
</div>
<label><h5>Koko vartalo</h5></label>
<div class="form-group col-6">
<ul>
{% for move in full_moves %}
<li><a href="/move/{{ move.id }}" title="{{ move.description }}">{{ move.name }}</a></li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}
