{% extends "layout.html" %}
{% block content %}

<div class="container">
<h2>{{ name }}</h2>(<b>Lisääjä:</b>{{ creator }})
<p>
<b>Kuvaus</b>
<p>
{{ description }}
<p>
<b>Liikkeet</b>
<p>
{% for move in moves %}
<ul>
<li><b>{{ move.name }}</b> ({{ move.muscles }})
<ul>
{{ move.description }}
</ul>
</ul>
{% endfor %}
<p>
{% if session.user_id %}
<form action="/add_favourite" method="post">
<input type="radio" name="add_set" value="{{ id }}">Lisää omiin suosikkeihin
<p>
<input type="submit" value="Lisää">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<a href="/add_move">Lisää uusi liike</a>
<p>
<a href="/add_set">Lisää uusi setti</a>
<p>
<a href="/profile/{{ session.user_id }}">Omat suosikit</a>
{% endif %}
<p>
<a href="/setlist">Settilistaan</a>
</div>
{% endblock %}
