{% extends "layout.html" %}
{% block content %}

<div class="container">
<h3>{{ name }}</h3>
<p>
(<b>Lisääjä: </b>{{ creator }})
<p>
<h5>Kuvaus</h5>
<p>
{{ description }}
<p>
<h5>Liikkeet</h5>
<p>
{% for move in moves %}
<ul>
<li><b>{{ move.name }}</b>
{% for muscle in move.muscles %}
{{ muscle }}{% endfor %}
<ul>
{{ move.description }}
</ul>
</ul>
{% endfor %}
{% if message %}
<p class="text-success>{{ message }}</p>
{% endif %}
{% if session.user_id %}
<div class="form-group col6">
<form action="/add_favourite" method="post">
<input type="radio" name="add_set" value="{{ id }}"> Lisää omiin suosikkeihin 
<p>
<input type="submit" class="btn btn-success" value="Lisää">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
</div>
<p>
<a href="/setlist">Settilistaan</a>
</div>
{% endblock %}
