{% extends "layout.html" %}
{% block content %}

<div class="container"
<h2>Treeniliikepankki</h2>
<p>
Täällä voit selata treenaajien pankkiin lisäämiä useamman harjoitusliikkeen settejä.
<p>
<b>Käyttäjien luomia treenisettejä:</b>
<ul>
{% for set in sets %}
<li><a href="/set/{{ set.id }}" title=" {{ set.description }}">{{ set.name }}</a>
{% endfor %}
</ul>
{% if session.user_id %}
<a href="/add_move">Lisää uusi liike</a>
<p>
<a href="/add_set">Lisää uusi setti</a>
<p>
{% endif %}
</div>
{% endblock %}
