{% extends "layout.html" %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-10">

<h5>Luo uusi tunnus</h5>

{% if  error %}
<p class="text-danger">{{ error }}</p>
{% endif %}



<form action="sign_up" method="post">
<div class="form-group col-6">
<label for="name">Nimimerkki (4-20 merkkiä):</label>
<input type="text" class="form-control" id="name" name="name">
</div>

<div class="form-group col-6">
<label for="password">Salasana (vähintään 8 merkkiä): </label>
<input type="password" class="form-control" id="password" name="password">
</div>

<div class="form-group col-6">
<label for="password_again">Salasana uudelleen: </label>
<input type="password" class="form-control" id="password_again" name="password_again">
</div>

<div class="form-group col-6">
<input type="submit" class="btn btn-success" value="Luo uusi tunnus">
</div>
</form>
</div>
</div>
</div>

{% endblock %}
